<nav class="navbar navbar-dark bg-dark ">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <button class="btn btn-primary me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
          ☰
        </button>
        <span class="navbar-brand mb-0 h1">My Todos</span>
      </div>
    </div>
  </nav>
  
  <div class="offcanvas offcanvas-start bg-dark" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel" >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title text-light" id="offcanvasWithBothOptionsLabel">My Todos</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <a class="nav-link text-light my-3" routerLink="/" data-bs-dismiss="offcanvas" >Add Todo</a>
      <a class="nav-link text-light my-3" routerLink="/your-todos" data-bs-dismiss="offcanvas">Your Todos</a>
    </div>
  </div>

<router-outlet></router-outlet>